{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:flowtype/recommended"
  ],
  "plugins": ["flowtype"],
  "rules": {
    "arrow-body-style": ["error", "as-needed"]
  },
  "globals": {
    "__DEV__": false
  },
  "env": {
    "browser": true
  }
}
